/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo do site */
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #28a745, #ffffff);
    color: #333;
}

/* Cabeçalho */
header {
    padding: 20px;
    background-color: #006400;
    color: white;
    text-align: center;
}

.navbar h1 {
    margin-bottom: 20px;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Seções de conteúdo */
.content-section {
    padding: 40px 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

.image-campo {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

/* Botões sociais */
.social-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-button {
    background-color: #006400;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.instagram { background-color: #E1306C; }
.facebook { background-color: #3b5998; }
.whatsapp { background-color: #25D366; }

/* Botões de acessibilidade */
.accessibility {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #006400;
}

/* Responsividade */
@media (max-width: 768px) {
    .social-buttons {
        flex-direction: column;
        align-items: center;
    }

    .image-campo {
        max-width: 80%;
    }

    nav a {
        margin: 5px;
    }
}
